<div id="content_left">
  <%= image_tag "drawing.jpg" %>
</div>

<div id="content">
  <h2>NEWS</h2>

  Hi.<br>
  Now were is my GeoCities Work In Progress Coming Soon&trade; picture?<br>
  This site will host some projects I made in the hope of inspiring others and to show off my awesomeness!
  <br>
  <br>
  Please note that this site is still early work in progress. There is not much content and some things may not work properly.
  If you find such things do not hesitate to <%= link_to "contact me", :controller=>:about %>!
  <br>
  <br>

  <%= render @posts, show_project_tag: true %>
</div>
