<!--<div id="content_left">
  <%= image_tag "mkbot.jpg" %>
</div>

<div id="content">-->
  <h2>PROJECTS</h2>
  <% if authenticated? %>
	  <%= link_to "create new project", new_project_path %><br>
  <% end %>

  <%= render :partial => "project_preview", :collection => @projects, :as => "proj" %>
  <!--</div>-->
