<pre><code>
==================================================================
https://keybase.io/iliis
--------------------------------------------------------------------

I hereby claim:

  * I am an admin of http://sam.klamath.ch
  * I am iliis (https://keybase.io/iliis) on keybase.
  * I have a public key with fingerprint FDE2 A5F8 DEF3 8648 5A75  66FB F8F1 81F9 4CBB 15F4

To claim this, I am signing this object:

{
    "body": {
        "client": {
            "name": "keybase.io node.js client",
            "version": "0.6.2"
        },
        "key": {
            "fingerprint": "fde2a5f8def386485a7566fbf8f181f94cbb15f4",
            "host": "keybase.io",
            "key_id": "F8F181F94CBB15F4",
            "uid": "abe6efcb1537df5b0f13a5f9c14dad00",
            "username": "iliis"
        },
        "merkle_root": {
            "ctime": 1411225300,
            "hash": "24c2c98207511fa808ecbb80685fb630585b93773a6aa9f9e0d13389bcda7f861f48a6b54ecca05f07fabbe20b37ec49722c2ad5955c0a60e34bc69fb148675f",
            "seqno": 52937
        },
        "service": {
            "hostname": "sam.klamath.ch",
            "protocol": "http:"
        },
        "type": "web_service_binding",
        "version": 1
    },
    "ctime": 1411225333,
    "expire_in": 157680000,
    "prev": "d4186591541377458c6a7e22c4f75b884c47e5857c23a52bd28125789397faf5",
    "seqno": 7,
    "tag": "signature"
}

with the aforementioned key, yielding the PGP signature:

-----BEGIN PGP MESSAGE-----
Version: GnuPG v1

owFdUl1sFUUYvb0gYFFDUENAKrjGKE2zzszO7MxexSDF5hpJAUOQJ6/z27v0dvey
uxTach/64k+bpjUmYqJCkMRIJJGk8kATIWBjYnjQGO2DBYkaabD+vNgSTBRnmxp/
3mbmO9/5zjnfjN25pFBs2nJzw0OtM+tF06XrorC75fW5AUfEqs8pDTiyFuooy08R
79FOyenWfYKn2g3jjVGstLsv3biIaXN6dZKGcWRRwPVd5DTacnjebMKoSyf1JMy5
HKM04sQwpY3HfMwIp8T3jTDMQAZNgKUQkBhsKatxmv1nqrPAWQmVfe1gHRbfEeD2
rVsh6cjxBxYKXGhfG2lJPKoMEcBAzw4MJMSKKwByYKqTRUthLQzTXGyPTrprupLE
8YJjmYV5HWIIESIeAFYOT6u2A2GJZMAQoARCwxlg2kpmwGfECN8DhBEReJR63Oc8
MIEGCnoeC4RUnBrmQ4MZ9wXBWkoOiAHUcCE0AsKjWuKAIiQRVyQgRALuA+1hIf3A
CIiZT4mx+lO9P4qdEkF2TiO/Jr2h1LnsPLJFZynvcbtrvIdnVVdWbVc9ibNYxjVb
q2ZZvZS7zvrqOfagFpVUv79AUxFhpOzK/r1TaKH/S8Tz2hx9qB4muhLmCEJ9BkCe
Uz3RvZZTYch8EkCCoU0DEyZ9TrU1hw0lgjEsMdU2LCqR3Q8SCjGICGWBF9hEDPnH
J7U6eVduKeyKeHYg0U7jlab1SwtNxcKy24r5py00377q75988ubyW/3Dj6459PRI
Mp6624645Qem9eDbE9t3NeY/7rw8/OpHa1o213+aPTq76onjaNPeTnjP9+VLy5on
huANVc3W1dypoDz8Q/na6evZjgurfwSH333m2o2ZoZE9Z9D46FD55eKvwdQbW+74
snVy7M/+q+sG2v+YDW/FV352L6xdeeLeby++M1d48dMj7aMr257ddtfo0PLzlfj+
pcHkUxtW7HROfzO9+djd0SP3qflzz491//LwisbMrv1zM/07zjz3OD2lvnrv7IfT
n12+ss/Z6Z74brz64FTrS4D31k5VPujcq4pvfV4/e2zwC3g1nSh9/drh+PjIJxeX
9D92dO2mgy/saWmdbH7zt9+fnB/8Cw==
=nILw
-----END PGP MESSAGE-----

And finally, I am proving ownership of this host by posting or
appending to this document.

View my publicly-auditable identity here: https://keybase.io/iliis
==================================================================
</code></pre>
