<div id="content_left">
  <%= image_tag "id.jpg" %>
</div>

<div id="content">
  <h2>SAMUEL BRYNER</h2>

  I'm a student of Computer Science at ETH Zürich, were I'm killing my time coding and soldering a lot of things.
  Some of them are or will be presented on this site.
  <br>
  <br>
  Otherwise, I love flying trough the skies and I am secretly working on taking over the world.
  <br>
  <br>
  <a href="mailto:samuelbryner@gmx.ch">samuelbryner@gmx.ch</a><br>
  <a href="https://github.com/iliis">GitHub</a><br>
  <a href="https://iliis.deviantart.com/">DeviantArt</a><br>
  <a href="https://plus.google.com/u/0/100342361785767319338/">Google+</a>
</div>
