body {
  padding-top: 100px;
  background-color: #eee;
  color: #192139;
  font-family: 'Amethysta', serif;
}

#main {
  margin: auto auto;
  width: 890px;
}

#header {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 15pt;
}

#content {
}

#content_left {
  width: 258px;
  height: 600px;
  position: absolute;
}

#content {
  width: 600px;
  height: 585px;
  position: relative;
  left: 270px;
  padding: 10px;
}

h1, h2, h3, h4 {
  margin: 0; padding: 0;
  font-family: 'Pathway Gothic One', sans-serif;
}

h1 {
  font-size: 40pt;
}

h2 {
  font-size: 25pt;
  margin-bottom: 5px;
}

h3 {
  font-size: 18pt;
  margin-bottom: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid #bbb;
}

a {
  color: #C25355;
  text-decoration: none;
}

small {
  color: #689091;
  font-size: 8pt;
}
