body {
  padding-top: 100px;
  background-color: #eee;
  color: #192139;
  font-family: 'Amethysta', serif;
}

#main {
  margin: auto auto;
  /*width: 700px;*/

  padding-left: 10%;
  padding-right: 10%;

  min-width:  700px;
  max-width: 1200px;
}

#header {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 15pt;
}

#content {
}

#content_left {
  width: 258px;
  height: 100%;
  /*position: absolute;*/
  float: left;
  margin-right: 20px;
}

#content {
  /*width: 410px;*/
  /*height: 585px;*/
  /*position: relative;*/
  /*left: 270px;*/
}

h1, h2, h3, h4 {
  margin: 0; padding: 0;
  font-family: 'Pathway Gothic One', sans-serif;
}

h1 {
  font-size: 40pt;
}

h2 {
  font-size: 25pt;
  margin-bottom: 5px;
}

h3 {
  font-size: 17pt;
  margin-bottom: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid #bbb;
}

a {
  color: #C25355;
  text-decoration: none;
}

small {
  color: #689091;
  font-size: 8pt;
}

code {
  font-family: monospace;
  background-color: #fff;
  display: block;
  padding: 2px;
  padding-left: 5px;
  margin: -2px;
  margin-left: -5px;
}

/* ----- PROJECT PREVIEW ------ */

.project_preview {
  border: 1px solid #bbb;
  margin: 5px;
  width: 210px;
  height: 350px;

  float: left;
}

.project_preview_text {
  padding: 5px;
  text-align: justify;
  font-size: 10pt;
}

.project, .post {
  text-align: justify;
}


/* ----- FORMS ------ */
input, textarea {
  border: 1px solid #bbb;
  margin: 2px;
  background-color: #eaeaea;

  width: 100%;
  font-family: mono;

  outline:none;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
}

input:focus, textarea:focus {
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
  background-color: #fff;
}

/* ------ IMAGES ------ */
.small_img {
	float: left;
	margin: 2px;
	height: 100px;
}

.small_img img:hover {
	box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

.post_image, .post_image_left {
	float: left;
	position: relative;
    margin-right: 15px;
	margin-left: -60px;
}

.post_image_right {
	float: right;
	position: relative;
    margin-left: 15px;
	margin-right: -60px;
}

